<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Joe Rocklin" />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="site">
      <div class="title">
        <a href="/">Joe Rocklin</a>
        <a class="extra" href="/">home</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Joe Rocklin<br />
            Cofounder of <a href="http://htglimited.com/">HTG, Limited</a><br />
            joe.rocklin@gmail.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="http://github.com/joerocklin/">github.com/joerocklin</a><br />
            <a href="http://twitter.com/joerocklin/">twitter.com/joerocklin</a><br />
            <a href="http://google.com/+joerocklin">google.com/+joerocklin</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>